.buttonbox {
    float: right;
    margin-right: 10px;
}

.button {
    cursor: pointer;
    font-size: 0.8em;
    display: inline-block;
    margin-left: 10px;
}

.hideInputText {
    background: none;
    border: 1.5px solid #f5f5f5;
    font-weight: 500;
    font-size: 14pt;
    font-size: 30pt;
}

.hideInputText:placeholder-shown {
    background: none;
    font-weight: 500;
}

.hideInputText:focus {
    border: none;
    font-weight: none;
    border-bottom: 1.5px solid  #0295e5;
}
.notice-title{
    height: 40px;
}

.notice-title > span {
    color: red;
    font-size: 0.8em;
    padding-top: 23px;
    float: right;
}

.notice-title > input[type="text"], .notice-title > div {
    font-size: 22px;
    width: 100%;
    width: 40%;
    padding-left: 10px;
    margin-bottom: 5px;
}

.notice-contentbox {
    font-size: 0.95em;
    width: 100%;
    resize: none;
    padding: 20px 40px;
    background: #fff;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 0.5px solid gray;
}
#check> textarea{
    
}
.notice-contentbox:focus{
    border-bottom: 1.5px solid  #0295e5;
}

#writedDate {}

/*scroll*/
.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    background-color: #F5F5F5;
    width: 1px;
}

.scrollbar::-webkit-scrollbar {
    width: 2px;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #00a0f4;
}