table {
    text-align: center;
    width: 100%;
}

table th {
    color: ;
    min-height: 30px;
    margin: 5px 0px;
    border-spacing: 10px;
    text-align: left;
}

tr > th:nth-child(1) {
    width: 20%;
}

table th {
    text-align: left;
    height: 30px;
    width: 300px;
    border-spacing: 30px;
    font-size: 0.9em;
    padding-left: 20px;

}

table th:nth-child(1) {
    margin-left: 10px;
    width: 3%;
}

table th:nth-child(2) {
    width: 16%;
    padding-left: 40px;
}
table th:nth-child(3) {
    width: 2%;
    padding-right: 4px;
}

table tr:nth-child(1) {
    height: 35px;
}

table tr:nth-child(n+2) {
    height: 30px;
    font-size: 0.8em;
    cursor: pointer;
}

table tr:nth-child(n+2):hover {
    background-color: #BFBFBF;
    }
table tr > td:nth-child(2n+1) {
    text-align: left;
    padding-left: 20px;
}
table tr > td:nth-child(2n) {
    text-align: left;
    padding-left: 40px;
}

.notice-writing {
    float: right;
    margin-top: 13px;
    margin-right: 15px;

}

/*페이지이동*/

.paging {
    text-align: center;
    margin-top: 50px;
}

#notice-paging span {
    font-size: 0.8em;
    cursor: pointer;
    padding: 0px 3px;

}

.donTouch {
    cursor: default !important;
    color: #c3c3c3;

}
/*변경된 css*/
.notice-body{
    padding: 5px 5px;
}
.notice-body-box:hover{
    background-color: #AED9FF;
    border-radius: 4px;
}
.notice-body-box{
    height: 90px;
    padding: 5px 22px;
}
.notice-body-title{
    height: 22px;
    font-size: 16px;
    font-weight: 600;
}
.notice-body-info{
    height: 14px;
    font-size: 10px;
    color: #AAAAAA ;
    margin: 2px 0px;
    font-weight: 500;
}
.notice-body-info>span:nth-child(1){
    min-height: 20px;
}
.notice-body-content{
    margin-top: 7px;
    height: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 700px;
    font-size: 14px;
    color: #AAAAAA;
}
.currentPageNum{
    color: #1e90ff;
}
