/*마우스 선택영역*/
.focus {
    position:fixed; 
    border:1px solid #00a8ff; 
    background-color: rgba(0, 168, 255, 0.19);
    z-index: 100;
}

/*--------------------------*/
/*Object CSS*/
/*--------------------------*/
.obj{
    position: absolute;
    border: 1.5px solid transparent;
    cursor: default;
}
.obj-comp{
    position: relative;
    width: 100%;
    height: 100%;
    background: transparent;
    padding-top : 2px;
    word-break : break-all;
/*    overflow: hidden;*/
}
.obj-rect, .obj-brect, .obj-ellipse, .obj-circle, .obj-diamond, .obj-square{
    border: 1px solid #000;
}
.obj-brect{
    border-radius: 10px;
}
.obj-ellipse, .obj-circle{
    border-radius: 50%;
}
.obj-comp *{
    width: 100%;
}

/*-건우-*/

.obj-textInput{
    border: 1px solid #2f2f2f;
    border-radius: 5px;
    padding: 10px;
    background: inherit;
    height: inherit;
    color: inherit;
    width: inherit;
    background-color: inherit;

}

.obj_ul_text{
    display: inline;
    font-size: 25px;
    margin-left: 0px;

    border: none;
    height: inherit;
    color: inherit;
    width: 80%;
    background-color: inherit;
}
.obj_ul_span{
    display: inline;
    margin-left: 0px;
    height: inherit;
    color: inherit;
    width: inherit;
    background-color: inherit;
    font-size: inherit;
}
.obj_ul_span::before{
    content: "●";
    color: black;
    font-size: 10px;
    line-height: inherit;
    vertical-align: middle;
}

.obj_progressBar_outline{
    background-color: #4F4F4F;
    min-height: 20px;
    height: inherit;
    color: inherit;
    width: 100%;
    font-size: inherit;
    border-radius: 10px;
}
.obj_progressBar_inline{
     background-color: #1976D2;
    min-height: 20px;
    height: inherit;
    color: inherit;
    width: 100%;
    font-size: inherit;
    border-radius: 10px;
}
.obj_search{
    line-height: inherit;
    padding: 0px;
}
.obj_search_left,
.obj_search_right{
    display: inline-block;
    margin-top: 0px;
     height: inherit;
    font-size: inherit;
    min-height: 30px;
    border: 0.5px solid gray;
    overflow: hidden;
    vertical-align: middle;
    line-height: 30px;
    float: left;
}
.obj_search_left{
    width: 30%;
    height: 100%;
    background-color: #afafaf;
    padding: 20% auto;
}
.obj_search_left img{
    width: inherit;
    height: inherit;
}
.obj_search_right{
    display: inline-block;
    width: 70%;
    text-align: left;
    padding-left: 5px;
    background: inherit;
}
.obj_search_box{
    background-color: white;
    height: 40%;
    border:0.5px solid gray;
}
.obj_search_icon{
    background-color: #BFBFBF;
    width: 30%;
    border-right: 0.5px solid gray;
    text-align: center;
    font-size: 30px;
}
.obj_scroll_outline{
     background-color:#eee;
    height: inherit;
    position: absolute;
}
.obj_scroll_inline{
    position: absolute;
    width: 100%;
    background-color: #ccc;
}
.obj_scroll_downside,
.obj_scroll_upside{
    width: inherit;
    height: 20px;
}
.obj_scroll_upside{
    position: absolute;
    top: 0px;
    left: 0px;
}
.obj-comp.obj_scroll_y,.obj-comp.obj_scroll_x{
    padding-top: 0px;
 }
.obj_scroll_outline i{
    color:#bbb;
}
.obj_scroll_downside{
    position: absolute;
    bottom: 0px;
    left: 0px;
}
/*scroll-x*/
.obj_scroll_x_outline{
    background-color:#eee;
    height: inherit;
    position: absolute;
    color: #ccc;
}
.obj_scroll_x_outline svg{
    width: inherit;
    height: inherit;
     width: 80%;
}
.obj_scroll_x_leftside,
.obj_scroll_x_rightside{
    width: 10px;
    height: inherit;
    background-color:#eee;
}
.obj_scroll_x_leftside{
    position: absolute;
    top: 0px;
    left: 0px;
}
.obj_scroll_x_rightside{
    position: absolute;
    top: 0px;
    right: 0px;
}
.obj_scroll_x_inline{
    position: absolute;
    height: 100%;
    background-color: #ccc;
}
.obj-comp.obj_dropdown{
    padding: 0px;
}
.obj_dropdown{
    display: block;
    border: 0.5px solid gray;
    background-color: inherit;
}
.obj_dropdown_left{
    display: inline-block;
    width: 80%;
    height:100%;
    overflow: hidden;
    line-height: 100%;
    padding-top: 3%;
}
.obj_dropdown_left input{
    border: none;
}
.obj_dropdown_left textarea{
}
.obj_dropdown_right{
    display: inline-block;
    width: 10%;
    height: 100%;
}
.obj_dropdown_right div{
    height: 50%;
    width: 100%;
}
::selection {
	background : skyblue;
}
.focusout {
	background : #3C79C9;
}

#multiselect{
    position: absolute;
    width: auto;
    height: auto;
}
[contenteditable=true] {
	cursor : text;
}
/*연영*/
.obj-buttonInput_Normal_A, .obj-buttonInput_Normal_B, .obj-buttonInput_Long_A, .obj-buttonInput_Long_B{
	color: #fff;
	padding: 2px;
	font-size: 15px;
	text-align: center;
    line-height: 2.5em;
    border-radius: 4px;
    border: none;
}
.obj-buttonInput_Normal_A, .obj-buttonInput_Long_A{
    background-color: #3498db;
}
.obj-buttonInput_Normal_B, .obj-buttonInput_Long_B{
    background-color: #c9c9c9;
}
.obj_plusBtn, .obj_minusBtn{
	color: #222;
	background-color: #c9c9c9;
	border-radius: 2px;
	border: none;
	padding: 1px;
	font-size: 13pt;
	font-weight: bold;
}

.obj_messageForm{
	font-size: 11pt;
	color:#fff;background-color:rgb(46, 204, 113);padding:15px;border-radius:4px;
}
/*연영*/

/*--------------------------*/
/* Resizable */
/*--------------------------*/
.ui-resizable-handle{
    display: none;
    position: absolute;
    background-color: #fff;
    width: 8px;
    height: 8px;
    border: 1px solid #00a8ff;
}
.ui-resizable-helper { 
    border: 1px dotted #00F;
}
.ui-resizable-n{
    top: -9px;
    left: calc(50% - 5px);
}
.ui-resizable-e{
    right: -9px;
    top: calc(50% - 5px);
}
.ui-resizable-s{
    bottom: -9px;
    left: calc(50% - 5px);
}
.ui-resizable-w{
    top: calc(50% - 5px);
    left: -9px;
}
.ui-resizable-ne{
    top: -8px;
    right: -8px;
}
.ui-resizable-se{
    bottom: -8px;
    right: -8px;
}
.ui-resizable-nw{
    top: -8px;
    left: -8px;
}
.ui-resizable-sw{
    bottom: -8px;
    left: -8px;
}
/*--------------------------*/
/* Selectable */
/*--------------------------*/
.ui-selected{
    border: 1.5px solid #00a8ff;
}
/*--------------------------*/
/* Rotatable */
/*--------------------------*/
.ui-rotatable-handle {
    position: absolute;
    top: -30px;
    left: calc(50% - 8px);
    height: 16px;
    width: 16px;
    cursor: pointer;
    background-image: url(../../../resources/img/rotate.png);
    background-size: contain;
    background-repeat: no-repeat;
}
