.section-noti, .section-findpwd{padding-top: 65px;}
.notification, .findpwd, .newpwd{
    margin: 120px auto;
    text-align: center;
}
.uemail{font-weight: 500;}
.notification p{margin-bottom: 30px;}
.notification a{margin-right: 15px;}
.btn-ghost{
    background: #fff;
}
.to-main{
    margin-left: 15px;
    width: 250px;
}
/*비밀번호 찾기*/
.findpwd,.newpwd{
    width: 30%;
    text-align: left;
}
.newpwd{
    width: 40%;
}
.findpwd form input,
.newpwd form input{
    display: block;
    margin: 20px 0;
    font-size: 20px;
    line-height: 25px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #000;
    padding: 5px;
}
.findpwd .btn-full,
.newpwd .btn-full{
    width: 100%;
    text-align: center;
    border-radius: 5px;
    height: 50px;
    padding-top: 13px;
}
.newpwd p span{
    font-size: 15px;
}
.newpwd form input{
    margin: 30px 0;
}
