<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
	<resultMap id="resultMember" type="Member">
		<id property="userno" column="USERNO"/>
		<result property="useremail" column="USEREMAIL" />
		<result property="userpwd" column="USERPWD" />
		<result property="username" column="USERNAME" />
		<result property="userphone" column="USERPHONE" />
		<result property="userprofile_o" column="USERPROFILE_O" />
		<result property="userprofile_r" column="USERPROFILE_R" />
		<result property="userlevel" column="USERLEVEL" />
		<result property="userenrolldate" column="USERENROLLDATE" />
		<result property="userauthkey" column="USERAUTHKEY" />
		<result property="useremailchecked" column="USEREMAILCHECKED" />
		<result property="billingkey" column="BILLINGKEY" />
		<result property="paymentdate" column="PAYMENTDATE" />
	</resultMap>
	
	<insert id="insertMember" parameterType="Member">
		INSERT INTO MEMBER VALUES(
			SEQ_USERNO.NEXTVAL, #{useremail} , #{userpwd} , #{username} , #{userphone}, NULL, NULL, DEFAULT, DEFAULT, #{userauthkey}, 'N' , null, null
		)
	</insert>
	<update id="updateEmailChecked" parameterType="Member">
		UPDATE MEMBER SET USEREMAILCHECKED = 'Y' WHERE USEREMAIL = #{useremail} AND USERAUTHKEY = #{userauthkey}
	</update>
	<select id="loginCheck" parameterType="Member" resultType="Member">
		SELECT * FROM MEMBER WHERE USEREMAIL = #{useremail} AND USEREMAILCHECKED = 'Y'
	</select>
	<select id="isExistEmail" parameterType="string" resultType="int">
		SELECT COUNT(*) FROM MEMBER WHERE USEREMAIL = #{useremail} AND USEREMAILCHECKED = 'Y'
	</select>
	<delete id="deleteAccount" parameterType="Member" >
		DELETE FROM MEMBER WHERE USERNO=#{userno}
	</delete>
	<delete id="deleteUncheckedMail" parameterType="string">
		DELETE FROM MEMBER WHERE USEREMAIL = #{useremail } AND USEREMAILCHECKED = 'N'
	</delete>
	<select id="getUncheckedMember" parameterType="string" resultType="string">
		SELECT USERAUTHKEY FROM MEMBER WHERE USEREMAIL = #{useremail} AND USEREMAILCHECKED = 'N'
	</select>
	<select id="getCheckedMember" parameterType="string" resultType="string">
		SELECT USERAUTHKEY FROM MEMBER WHERE USEREMAIL = #{useremail} AND USEREMAILCHECKED = 'Y'
	</select>
	<select id="getMemberForPwd" parameterType="Member" resultType="Member">
		SELECT * FROM MEMBER WHERE USEREMAIL = #{useremail} AND USERAUTHKEY = #{userauthkey}
	</select>
	<update id="initchangePwd" parameterType="Member">
		UPDATE MEMBER SET USERPWD = #{userpwd} WHERE USEREMAIL = #{useremail} AND USERAUTHKEY = #{userauthkey}
	</update>
	<select id="chkGoogleUser" parameterType="Member" resultType="Member">
		SELECT * FROM MEMBER WHERE USEREMAIL = #{useremail} AND USEREMAILCHECKED = 'Y' 
	</select>
	<insert id="enrollGoogleUser" parameterType="Member">
		INSERT INTO MEMBER VALUES(
		SEQ_USERNO.NEXTVAL, #{useremail} , #{userpwd} , #{username} , NULL, NULL, NULL, DEFAULT, DEFAULT, #{userauthkey}, 'Y' , null, null
		)
	</insert>
</mapper>