<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member_projectMapper">
	
	<insert id="insertTeamMember" parameterType="Member_Project" >
		insert into member_project values(#{projectno}, #{userno}, sysdate, 'ONLY_READ')
	</insert>
	
	<!-- 건우 -->
	<update id="setLeader" parameterType="int">
		  UPDATE MEMBER_PROJECT  SET USERAUTH   = 'LEADER'  WHERE USERNO=#{USERNO}
	</update>
	<update id="setCanEdit" parameterType="int">
		  UPDATE MEMBER_PROJECT  SET USERAUTH   = 'CAN_EDIT'  WHERE USERNO=#{USERNO}
	</update>
	<update id="setOnlyRead" parameterType="int">
		  UPDATE MEMBER_PROJECT  SET USERAUTH   = 'ONLY_READ'  WHERE USERNO=#{USERNO}
	</update>
	<update id="setAllOnlyRead" parameterType="int">
		  UPDATE MEMBER_PROJECT  SET USERAUTH   = 'ONLY_READ'  WHERE PROJECTNO=#{PROJECTNO}
	</update>	
	<select id="searchNextLeader" parameterType="int"  resultType="int" >
		 	SELECT NVL(USERNO, 0) USERNO
			 FROM MEMBER_PROJECT INNER JOIN MEMBER USING(USERNO)
      		WHERE PROJECTNO = #{PROJECTNO} AND USERAUTH != 'LEADER'  AND rownum = 1 
      		ORDER BY PROJECTJOINDATE ASC
	</select>
	
</mapper>