<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="projectMapper">
	
	<insert id="createProject" parameterType="Project">
		insert into project values(SEQ_PROJECTNO.NEXTVAL, #{projectname}, default, default, null, null, #{userno})
	</insert>
	<select id="selectProjectnoAfterCreated" parameterType="int" resultType="int">
		select projectno from project where userno=#{userno} and rownum =1 order by projectno desc
	</select>
	
	<select id="autocomp" parameterType="String" resultType="Member">
		select * from member where username like '%' || #{ keyword } || '%'
	</select>
	
	<select id="projectInvest" parameterType="String" resultType="Member">
		select useremail from member where userno = #{userno}
	</select>
	
	<select id="selectProjectNo" parameterType="Project" resultType="Project">
		select * from (select projectno from project where userno = #{userno} and projectname = #{projectname} order by PROJECTCREATEDATE desc) where rownum=1
	</select>
	
	<select id="selectProject" parameterType="Project" resultType="Project">
		select * from project where projectno=#{projectno}
	</select>
	<!-- 프로젝트에 멤버 띄우기 (Leader,Cand-Edit,Only-Read 정렬 -->
	<select id="selectProjectMemeber" parameterType="ProjectMember" resultType="ProjectMember">
		select USERNO, USERNAME, PROJECTJOINDATE, USERAUTH ,USERPROFILE_O  from MEMBER_PROJECT inner join member using (userno) where projectno=#{projectno} order by case WHEN userauth IN ('LEADER') THEN 0 ELSE 1 END, userauth asc
	</select>
	<select id="enrolledEmailCheck" parameterType="String" resultType="int">
		select userno from member where useremail = #{useremail}
	</select>
	<select id="joinedMemberCheck" parameterType="HashMap" resultType="int">
		select count(*) from member_project where userno=#{userno} and projectno =#{projectno}
	</select>
	<update id="projectImgInsert" parameterType="Project">
		UPDATE PROJECT SET PROJECTIMAGE_O = #{projectimage_o} WHERE PROJECTNO =#{projectno}
	</update>
	
</mapper> 