<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProjectfileMapper">

	<select id="selectMainFileList" parameterType="ProjectFile" resultType="ProjectFile">
		<![CDATA[
		SELECT * FROM (SELECT * FROM PROJECTFILE WHERE PROJECTNO = #{projectno} ORDER BY PRFILELASTMODIFIED DESC ) WHERE ROWNUM<5
		]]>
	</select>
	
	<select id="getFileList" parameterType="int" resultType="ProjectFile">
		SELECT * FROM PROJECTFILE WHERE PROJECTNO = #{projectno }
	</select>
	
	<insert id="insertNewTeamFile" parameterType="ProjectFile">
		INSERT INTO PROJECTFILE VALUES(
			SEQ_PRFILENO.NEXTVAL, #{projectno }, NULL, #{prfiletitle}, DEFAULT, DEFAULT, DEFAULT
		)
	</insert>
	
	<select id="getFileNo" parameterType="int" resultType="ProjectFile">
		SELECT * FROM 
		(SELECT PRFILENO FROM PROJECTFILE WHERE PROJECTNO = #{projectno} ORDER BY PRFILELASTMODIFIED DESC)
		WHERE ROWNUM = 1
	</select>	
	
	<select id="selectOne" parameterType="Page" resultType="ProjectFile">
		SELECT * FROM PROJECTFILE WHERE PROJECTNO = #{projectno} AND PRFILENO = #{fileno}
	</select>
	
	<select id="selectFile" parameterType="ProjectFile" resultType="ProjectFile">
		SELECT * FROM PROJECTFILE WHERE PRFILENO = #{prfileno} AND USERNO = #{userno}
	</select>
	
	<insert id="fileCopy" parameterType="PrivateFile">
		INSERT INTO PROJECTFILE VALUES(SEQ_PRFILENO.NEXTVAL, #{projectno}, #{prfilethumbnail}, #{prfiletitle}, DEFAULT, DEFAULT, DEFAULT)
	</insert>
	
	<select id="createPage" parameterType="int" resultType="PrivateFile">
		SELECT * FROM (SELECT PRFILENO FROM PROJECTFILE WHERE USERNO = #{userno} order by PRFILELASTMODIFIED DESC) WHERE ROWNUM = 1
	</select>
	
	<update id="changeLastModified" parameterType="ProjectFile">
		UPDATE PROJECTFILE SET PRFILELASTMODIFIED = TO_CHAR(SYSDATE, 'YYYY/MM/DD HH24:MI') WHERE PROJECTNO = #{projectno} AND PRFILENO = #{prfileno}
	</update>
</mapper>