<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProjectfileMapper">

	<select id="selectMainFileList" parameterType="ProjectFile" resultType="ProjectFile">
		<![CDATA[
		select * from projectfile where projectno = #{projectno} and rownum<5
		]]>
	</select>
	
	<select id="selectListAll" parameterType="ProjectFile" resultType="int">
		select * from privatefile where userno = #{userno}
	</select>	
		
</mapper>