<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.sesame.salab.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.sesame.salab.payment.model.vo.Payment" alias="Payment"/>
		<typeAlias type="com.sesame.salab.privatefile.model.vo.PrivateFile" alias="PrivateFile"/>
		<typeAlias type="com.sesame.salab.project.model.vo.Project" alias="Project"/>
		<typeAlias type="com.sesame.salab.member_project.model.vo.Member_Project" alias="Member_Project"/>
		<typeAlias type="com.sesame.salab.notice.model.vo.Notice" alias="Notice" />
		<typeAlias type="com.sesame.salab.faq.model.vo.Faq" alias="Faq" />
		<typeAlias type= "com.sesame.salab.projectnotice.model.vo.Projectnotice" alias="Projectnotice" />
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/member-mapper.xml" />
		<mapper resource="mappers/payment-mapper.xml" />
		<mapper resource="mappers/userPage-mapper.xml" />
		<mapper resource="mappers/privatefile-mapper.xml" />
		<mapper resource="mappers/project-mapper.xml"/>
		<mapper resource="mappers/member_project-mapper.xml"/>
		<mapper resource="mappers/notice-mapper.xml" />
		<mapper resource="mappers/faq-mapper.xml" />
		<mapper resource="mappers/projectnotice-mapper.xml"/>
	</mappers>
</configuration>