<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.sesame.salab.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.sesame.salab.payment.model.vo.Payment" alias="Payment"/>
		<typeAlias type="com.sesame.salab.privatefile.model.vo.PrivateFile" alias="PrivateFile"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/member-mapper.xml" />
		<mapper resource="mappers/payment-mapper.xml" />
		<mapper resource="mappers/privatefile-mapper.xml" />
	</mappers>
</configuration>
