@charset "UTF-8";

input[type="password"]{
    display: block;
    font-size:12pt;
    color: #969696;

}
.sub-content>input[type="password"]::placeholder{
    color: #b0b0b0;
}

.box-grid span{
    display: block;

}
.section-grid {
    margin:180px auto;
    margin-bottom:  0px;
}
.box-content{
    padding: 30px 10px;
}
.sub-content{
    margin-bottom: 20px;  
}
/*
.sub-content > span:first-child{
    margin-left: 10px;
    margin-bottom: 5px;
    color: dimgray;
    font-size: 0.9em;
        font-weight: 600;
}
*/
.sub-content > span:nth-child(2){
    margin-left: 10px;
    font-size: 0.6em;
    float: left;

}
.sub-content:nth-last-child(1){
    margin-bottom: 30px;

}


input[type="button"]{
    top: 5px;
    margin-right: 10px;
    padding-left:  25px;
    padding-right: 25px;
}


