/*-------------------------*/
/*id="ipersonalInfo"*/
/*-------------------------*/




#ipersonalInfo {}

#pImage {
    width: 130px;
    height: 130px;
    outline: none;
    background-color: brown;
    border-radius: 100%;
    padding-top: 100px;
}

#pImage > span {}

.inputImg {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 10px;
}

#userEmail {
    display: inline-block;

}

#userEmail {
    clear: both;
}

/* img 삽입*/
#userImg label {
    font-size: 0.7em;
    color: #ebe2e1;
    cursor: pointer;
    width: 100%;
}

#pImage > span {
    margin-top: 140px;
}

#userImg input[type="file"] {
    display: none;
}

#id-info {}


.box-content{
    margin: 20px 10px;
    font-size: 0.8em;
}
ul>li{
    padding: 2px 0px;
    font-size: 0.7em;
    font-weight: 600;
}
ul>li::before{
    content: "- ";
}
#id-changeBox {
    margin: 30px 10px;
}
#id-changeBox:nth-child(1){
    margin-bottom: 5px;
}




/*-------------------------*/
/*delete info*/
/*-------------------------*/
#delete-id {
    margin: 10px;
    font-size: 0.6em;
    text-decoration-line: underline;
    cursor: pointer;
}
.highlight{
    color: dimgrey;
    font-weight: 500;
}

#deleteAccount {
    margin-bottom: 40px;
    display: none;
}
.box-content li :nth-last-child(){
    font-size: 0.6em;
}
.text-box{
    margin: 4px 15px;
    display: block;
    height: 28px;
    width: 300px;
}
input[type="checkbox"]{
    margin-left: 15px;
    margin-right: 5px;
    position: relative;
    top: 3px;
}

.box-content>span{
    font-size: 0.8em;
}

#delete-title {
    background-color: #ffb48f;
}
.box-content{
    padding:  10px 5px;
}
.section-grid{
    margin-top: 60px;
}
