#upgrade-section {
    max-width: 60%;
    margin-top: 60px;
    margin-left: 220px;
    padding: 0px;
    height: 700px;
}

#upgrade-header {
    margin-left: 250px;
}

#upgrade-header > div {
    margin-left: 60px;
}
#upgrade-header > div:nth-child(2) {
    margin-left: 60px;
   text-decoration: underline;
}

#upgrade-body {
    padding-left: 40px;
    min-height: 300px;
}

/******upgrade-body********/
#upgrade-body table {
    border-collapse: separate;
    border-spacing: 10px 20px;
    	font-size:0.8em;
}

#upgrade-body tr {
    margin: 20px 0px;
    padding: 70px;

}

#upgrade-body tr th {

    width: 230px;
}

#upgrade-body tr td:nth-child(2) {
    width: 160px;
    text-align: center;
}

#upgrade-body tr td:nth-child(3) {
    width: 160px;
    text-align: center;
}
#upgrade-bottom{
    display: block;
    margin-top: 50px;
    padding-left: 40px;
    
}
#upgrade-bottom div{
    font-size: 0.7em;
    width: 100%;
    margin-left: 25%;
}
input[type="button"]{
    float: none;
    margin-top: 25px;
    margin-left: 33%;   
}

#goto-FAQ {
    font-size: 0.6em;
    margin-top: 60px;
}


#horizon-line {
    width: 600px;
    border-top: 0.5px solid #787878;
    position: absolute;
    top:190px;
    left: 270px;
    z-index: 5;
}
#downgrade-bottom>div{
    font-size: 11pt;
    color: #e35d42;
    margin-top: 50px;
    text-align: center;
    margin-right: 10%;

}

/*유저메뉴 토글*/

.user-profile{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 180px;
    margin-right: 15px;
    padding-right: 5px;
}
.user-profile img{
    width: 30px;
    margin-top: 5px;
}

.profile-name{
    color: #fff;
    margin-left: 5px;
    font-size: 16px;
    line-height: 40px;
    cursor: pointer;
}
.profile-name i{
    font-size: 10px;
    margin-left: 8px;
}

.profile-dropmenu{
    display: none;
    position: absolute;
    background-color: #fafafa;
    width: 180px;
    top: 40px;
    right: 10px;
    z-index: 6;
    box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}
.profile-dropmenu:before{
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fafafa;
    top: -7px;
    right: 5px;
}
.profile-menus li:hover{
    background-color: #ebebeb;
}
.profile-menus li{
    margin: 5px 0;
}
.profile-menus li:nth-child(2):after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #ebebeb;
}
.profile-menus li a{
    padding-left: 15px;
    font-size: 15px;
    color: #393939;
    font-weight: 300;
}



.top-bar   a {
    color: #fff;
    pointer-events: auto;
}

.section-title {
    margin-top: 35px;
    margin-left: 90px;
}
