/*-------------------------*/
/*id="ipersonalInfo"*/
/*-------------------------*/

#ipersonalInfo {
    width: 70%;
    margin: 20px auto;
}

#pImage {
    width: 170px;
    height: 170px;
    outline: none;
    background-color: brown;
    border-radius: 100%;
    display: inline-block;
}

#userEmail {
    display: inline-block;
}

/* img �궫�엯*/
#userImg label {
    margin-top: 140px;
    display: inline-block;
    font-size: 0.7em;
    color: #ebe2e1;
    cursor: pointer;
    width: 170px;
    padding: 0px auto;
    text-align: center;
    vertical-align: bottom;
}

#userImg input[type="file"] {
    display: none;
}


#id-info {
    margin:  15px 0px;
    border: 0.5px solid gray;
    background-color: white;
    width: 85%;
    height: auto;
    color: #8c8c8c;
}

#info-title {
    background-color: #e8e8e8;
    height: 44px;
    padding:  10px 20px;
    border-left: 0.5px solid gray;
}

#id-changeBox {
    margin: 30px 10px;
}
#userid{
    margin: 10px 10px;
}
#id-change{
    width: 80%;
    padding-left: 10px;
}
#id-change-btn{
    border-radius: 3px;
    background-color: white;
    border-style: outset;
    cursor: pointer;
    min-height: 24px;
    padding:  6px 14px;
    color: gray;
    font-size: 0.7em;
    font-weight: 300;
}

/*-------------------------*/
/*delete info*/
/*-------------------------*/
#delete-id{
    margin: 10px;
    font-size: 0.6em;
    text-decoration-line: underline;
    cursor: pointer; 
}

#deleteAccount {
   /*display: none; */
}