@charset "UTF-8";
@media only screen and (max-width: 1200px){
    .file-grid{
        width: 32.26%;
    }
}
@media only screen and (max-width: 1023px){
    .file-grid{
        width: 49%;
    }

}
@media only screen and (max-width: 767px){
    .file-grid{
        width: 49%;
    }
    .top-bar-title{
        left: 45%;
    }
    .left-side-bar{
        transform: translateX(-280px);
        z-index: 50;
    }
    .right-main-side, .top-bar-children{
        width: 100% !important;
        left: 0 !important;
    }
    .mobile-top-bar-left{
        display: flex;
        background: #2c2c2c;
        z-index: 60;
    }
    .toggle-menu{
        display: block;
        position: relative;
        top: 10px;
        left: 15px;
    }
    .toggle-menu input{
        display: block;
        width: 25px;
        height: 40px;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        opacity: 0;
        z-index: 10;
    }
    .toggle-menu span{
        display: block;
        width: 25px;
        height: 3px;
        margin-bottom: 5px;
        position: relative;
        background: #fff;
        border-radius: 2px;
    }
    .add-btn{
        display: none;
    }
}
@media only screen and (max-width: 480px){
    .file-grid{
        width: 80%;
        margin: 5px 10%;
    }
    .sort-by{padding-left: 10%;}
    .sort-standards{left:8.5%;}
}
